<div id="add_property_basic_info">
    <div id="sale_type_title_container">
        <span id="sale_type_title" class="add_property_titles">I WANT TO</span>
    </div>
    <div class="left-label">
        <input type="radio" name="sale_type_radio" id="sale_type_sell" value="Sell" ng-model="property.saleType">
        <label for="sale_type_sell"><span>SELL</span></label>
        <input type="radio" name="sale_type_radio" id="sale_type_rent" value="Rent" ng-model="property.saleType">
        <label for="sale_type_rent"><span>RENT</span></label>
    </div>
    <div id="property_type_title_container">
        <span id="sale_type_title" class="add_property_titles">PROPERTY TYPE</span>
    </div>
    <div class="left-label">
        <div class="left_label">
            <input type="radio" name="property_type" id="property_type_commercial" value="COMMERCIAL" ng-model="property.propertyType">
            <label for="property_type_commercial"><span>COMMERCIAL</span></label>
            <input type="radio" name="property_type" id="property_type_furnished" value="FURNISHED HOMES" ng-model="property.propertyType">
            <label for="property_type_furnished"><span>FURNISHED HOMES</span></label>
            <input type="radio" name="property_type" id="property_type_land" value="LAND AND PLOT" ng-model="property.propertyType">
            <label for="property_type_land"><span>LAND & PLOT</span></label>
            <input type="radio" name="property_type" id="property_type_rental" value="RENTAL" ng-model="property.propertyType">
            <label for="property_type_rental"><span>RENTAL</span></label>
        </div>
    </div>
    <div id="add_photo_title_container">
        <span id="add_phot_title" class="add_property_titles">ADD YOUR PROPERTY PHOTOS</span>
    </div>
    <div class="left-label">
        <label for="property_photo"><img src="Images/photo-camera.png" id="camera_icon"><span>ADD PHOTO</span></label>
        <input type="file" id="property_photo" ngf-select ng-model="property.photo" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
    </div>
    <div id="property_address_title_container">
        <span id="property_address_title" class="add_property_titles">YOUR PROPERTY ADDRESS</span>
    </div>
    <div class="left_label">
        <input type="text" id="google_places_ac" gm-places-autocomplete placeholder="Property Location" ng-model="property.city">
        <img src="Images/compass.png" id="add_property_loc">
        <input id="add_property_address" type="text" name="adress" placeholder="Adress" ng-model="property.address">
        <input id="add_property_location" type="text" name="location" placeholder="Property Name" ng-model="property.name">
    </div>
    <div id="property_details_next">
        <a ui-sref="add_details" ui-sref-active="activeAddPropertyOption" ng-click="uploadPic(property.photo)">next</a>
    </div>
</div>