<div id="add_property_basic_info">
    <div class="left_label" id="property_details_container">
        <input type="text" id="add_price" class="add_property_input_text" name="property_price" placeholder="Asking Price: &#8377;" ng-model="property.price">
        <select id="add_bathrooms" class="add_property_dropdowns" name="property_bathrooms" ng-model="property.bathrooms" ng-options="number for number in numbers"><option value="" disabled selected>Bathroom(s) </option></select>
        <select id="add_bedrooms" class="add_property_dropdowns" name="property_bedrooms" ng-options="number for number in numbers" ng-model="property.bedrooms"><option value="" disabled selected>Bedroom(s) </option></select>
        <div id="property_area_title_container">
            <span id="add_property_area_title" class="add_property_titles">Property Area</span>
        </div>
        <input type="text" id="add_builtup_area" class="add_property_input_text" name="property_builtup_area" placeholder="Built-Up Area" ng-model="property.builtUpArea">
        <select id="add_builtup_unit" class="add_property_dropdowns" name="property_builtup_unit" ng-model="property.builtUpUnit" ng-options="unit for unit in units"><option value="" disabled selected>Unit</option></select>
        <input type="text" id="add_carpet_area" class="add_property_input_text" name="property_carpet_area" ng-model="property.carpetArea" placeholder="Carpet Area">
        <select id="add_carpet_unit" class="add_property_dropdowns" name="property_carpet_unit" ng-model="property.carpetUnit" ng-options="unit for unit in units"><option value="" disabled selected>Unit</option></select>
        <div id="transaction_type_title_container">
            <span id="transaction_type_title" class="add_property_titles">Transaction Type</span>
        </div>
        <input type="radio" name="transaction_type_radio" id="transaction_type_resale" value="resale" ng-model="property.transactionType">
        <label class="transaction_type_label_left" for="transaction_type_resale"><span>Resale</span></label>
        <input type="radio" name="transaction_type_radio" id="transaction_type_new_booking" value="new_booking" ng-model="property.transactionType">
        <label class="transaction_type_label_right" for="transaction_type_new_booking"><span>New Booking</span></label>
        <select id="add_property_floor" class="add_property_dropdowns" name="property_floor" ng-model="property.propertyFloor" ng-options="number for number in numbers"><option value="" disabled selected>Property Floor</option></select>
        <select id="add_property_ownership" class="add_property_dropdowns" name="property_ownership" ng-model="property.ownership" ng-options="ownership for ownership in ownerships"><option value="" disabled selected>Ownership </option></select>
        <select id="add_property_total_floors" class="add_property_dropdowns" name="property_total_floors" ng-model="property.totalFloors" ng-options="number for number in numbers"><option value="" disabled selected>Total Floors </option><option>Hello</option></select>
        <div id="property_availability_title_container">
            <span id="add_property_availability_title" class="add_property_titles">Availability</span>
        </div>
        <input type="radio" name="property_availability_radio" id="property_availability_ready" value="Ready To Move" ng-model="property.availability">
        <label class="transaction_type_label_left" for="property_availability_ready"><span>Redy To Move</span></label>
        <input type="radio" name="property_availability_radio" id="property_availability_under_construction" value="Under Construction" ng-model="property.availability">
        <label class="transaction_type_label_right" for="property_availability_under_construction"><span>Under Construction</span></label>
        <textarea id="add_property_description" name="property_description" placeholder="Description" ng-model="property.description"></textarea>
        <button type="submit" ng-click="validateForm()" id="add_property_submit" value="add_property_submit">Submit</button>
    </div>
</div>