<div id="contact-us" ng-controller="MyController">
    <span id="title-contact">Contact</span>
    <span id="title-us">Us</span>
    <div id="contact-location">
        <img src="Images/Location_Aboutus.png" id="contact-loc-icon">
        <span id="contact-loc-title">Our Location</span>
    </div>
    <div id="contact-map">
        <div id="google_maps_top">
            <ng-map center="[10.01478,76.363654]">
                <marker position="{{10.01478}},{{76.363654}}" title="Real Buy"></marker>
            </ng-map>
        </div>
    </div>
    <div id="contact-address">
        <img src="Images/Address_Desktop.png">
        <span id="contact-address-title">Address</span>
    </div>
    <div id="contact-address-details">
        <div id="contact-address-info">
            9A, 9th floor, <br> Carnival Infopark, Kakkanad, <br> Kochi - 682 030
        </div>
        <div id="contact-phone-details">
            Phone : 0484-2415010 <br> Email : support@realbuy.com
        </div>
        <div id="contact-work-timing">
            Opening Hours: Monday - Friday : 9 am To 6 pm <br> Saturday - Sunday : 9 am To 2 pm
        </div>
    </div>
    <div id="contact-agent">
        <img src="Images/mail.png" id="contact-mail">
        <span id="contact-agent-title">Contact our agent</span>
    </div>
    <div id="contact-input">
        <div id="contact-inputs-left">
            <input type="text" id="cname" class="contact-input-boxes" placeholder="Name"> <br>
            <input type="text" id="cemail" class="contact-input-boxes" placeholder="Email"> <br>
            <input type="text" id="cphone" class="contact-input-boxes" placeholder="Phone number">
        </div>
        <div id="contact-message">
            <textarea rows="5" cols="50" id="cmessage" placeholder="Message"></textarea>
        </div>
        <div id="contact-submit">
            <button type="submit" id="contact-submit-button">Submit</button>
        </div>
    </div>
</div>