<div id="recent_property_container">
    <div class="recent_properties" ng-repeat="property in Properties.landAndPlot">
        <div id="recent_property_image_holder">
            <img ng-src="{{property.photo}}" class="featured_property_image">
        </div>
        <div class="recent_property_info">
            <span class="recent_sale_type">On Rent</span>
            <div id="recent_name">{{property.name}}</div>
            <div id="recent_address">{{property.address}}</div>
            <div id="recent_price">&#8377; {{property.price}}</div>
            <div class="recent_fav_icon">
                <img src="Images/favorites_featured.png" id="fav_icon">
            </div>
        </div>
    </div>
</div>